<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>Loginn</display-name>
  
  <welcome-file-list>
  
    <welcome-file>LogginnServlet</welcome-file>
    
    <welcome-file>WebShopServlet</welcome-file>
    
  </welcome-file-list>
  
  <servlet>  
  
	<display-name>LogginnServlet</display-name>
	
	<servlet-name>LogginnServlet</servlet-name>  
	
	<servlet-class>no.hvl.dat108.LogginnServlet</servlet-class> 
	
	<init-param>
		
		<param-name>passord</param-name>
		
		<param-value>Katt123</param-value>
		
	</init-param>
	
	<init-param>
	
		<param-name>tid</param-name>
		
		<param-value>60</param-value>
		
	</init-param>
	
	</servlet>  
  
  
</web-app>